<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504074289128-8aogiu1672uoi68jt1vbjjc44nnke1qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504074289128-8aogiu1672uoi68jt1vbjjc44nnke1qf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>504074289128-f5bv2oh94qh7bj540ija949abn96dg4h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCelngyBZRJVKR-YZcJ_ZV-T-dH1y6ADU</string>
	<key>GCM_SENDER_ID</key>
	<string>504074289128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinelnikov.cinemax</string>
	<key>PROJECT_ID</key>
	<string>cinemax-137b6</string>
	<key>STORAGE_BUCKET</key>
	<string>cinemax-137b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504074289128:ios:f6c4cd1678d2d932436e5d</string>
</dict>
</plist>